# EditorConfig
root = true

[*]
max_line_length = 120
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.json]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.sql]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2


# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true